<!DOCTYPE html>
<html>
<head>
<title>Regarding reset password for employee</title>
<style>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>
<br/>
<p style="width: 70%;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans';font-size: 16px;font-style: normal;	font-variant: normal;font-weight: 500;line-height: 26.4px;">
Dear  $name,<br/><br/>
<b>Your password has been reset successfully into the database</b><br/>
</p>	

<table border="1" style="width: 70%;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans';font-size: 16px;font-style: normal;	font-variant: normal;font-weight: 500;line-height: 26.4px;">
		<tr style="background-color: #03a9f4;color:white;">
			<td>Your new password is $newpassword</td>
		</tr>
		
		<tr>
			<td>&nbsp;</td>
		</tr>
		
</table>

<p style="width: 70%;font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans';font-size: 16px;font-style: normal;	font-variant: normal;font-weight: 500;line-height: 26.4px;">
Kindly do not disclose it to others<br/><br/>
Thanks & Regards,<br/>
<b>Leave Management Admin</b>
<br/>
Email : <b>$email</b><br/>
Mobile : <b>$mobile</b>
<br/>
<img src="cid:aicon"/>
</p>
</body>
</html>